@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Clicker+Script&family=Fira+Sans:ital@0;1&family=Poppins:wght@200;300;400;500;700&family=Source+Code+Pro:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    color: var(--bg-color);
}
:root{
    --container-color: #FFF7D4;
    --second-color: #FFD95A;
    --text-color: #C07F00;
    --bg-color: #4C3D3D;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
::selection{
    color: var(--bg-color);
    background: var(--second-color);
}
.container{
    max-width: 66.75rem;
    margin: auto;
    width: 100%;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.125rem 0;
}
.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--bg-color);
}
.logo span{
    color: var(--second-color);
}
.login{
    padding: 0.5rem 0.875rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.25rem;
    cursor: pointer;
    background: var(--second-color);
    color: var(--bg-colcolor)
}
.login:hover{
    background: rgb(231, 239, 83);
    transition: 0.3s;
}
.home{
    width: 100%;
    min-height: 27.5rem;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text{
    color: var(--bg-color);
    text-align: center;
}
.home-title{
    font-size: 3.5rem;
}
.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}  
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filter-item{
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}
.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 0.25rem 0.625rem;
    border-radius: 0.25rem;
    position: relative;
    cursor: pointer;
}
.active-filter::after{
    content: '';
    width: 0;
    bottom: -0.375rem;
    height: 0.1875rem;
    position: absolute;
    left: 0;
    transition: 0.5s;
}
.active-filter:hover::after{
    width: 100%;
}
.img{
    width: 28.125rem;
    float: right;
    margin-right: 0.75rem;
    overflow: hidden;
}
.heading{
    margin-bottom: 3rem;
    padding-left: 1rem;
    border-left: 1rem solid #FFD95A;
}
.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.3rem;
    border: 0.3125rem;
    flex: 1 1 41rem;

}
.box-container{
    padding: 0.5rem 0.875rem;
    width: 9.375rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.25rem;
    background: var(--second-color);
    color: var(--bg-ccolor);
    cursor: pointer;
    display: inline-block;
    margin: 0.9375rem;
    box-sizing: content-box;
    overflow: hidden;
}
.number{
    font-size: xx-large;
}
.box-container:hover{
    background: rgb(231, 239, 83);
    transition: 0.3s;
    overflow: hidden;
}
.btn-img{
    width: 21.875rem;
    float: right;
    margin-right: 1.25rem;
}
#services{
    padding: 1.875rem 0;
    cursor: pointer;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15.625rem,1fr));
    grid-gap: 2.5rem;
    margin-top: 3.125rem;
}
.services-list div{
    background: #FFF7D4;
    padding: 2.5rem;
    font-size: 0.8125rem;
    font-weight: 400;
    border-radius: 0.625rem;
    transition: background 0.5s, transform 0.5s;
}
.services-list div h2{
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
    margin-top: 1.25rem;
    display: inline-block;
}
.services-list div:hover{
    background: rgb(247, 247, 125);
    transform: translateY(-0.625rem);
}
.services-list div p{
    font-family: 'Poppins', sans-serif;
}
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 1.5625rem;
    margin-bottom: 1.25rem;
}
.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 0.9375rem;
    margin-bottom: 3.75rem;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 3.75rem;
    text-align: center;
    display: inline-block;
    margin: 3.125rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contact .contact-info-item .icon .fa{
    font-size: 1.5625rem;
    color: var(--bg-ccolor);
}
.contact .contact-info-item h4{
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--bg-color);
    text-transform: capitalize;
    margin: 0.9375rem 0 0.3125rem;
}
.contact .contact-info-item p{
    font-size: 1.125rem;
    line-height: 1.5625rem;
    color: var(--bg-color);
    font-weight: 400;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item{
    margin-bottom: 1.875rem;
}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 3.125rem;
    border-radius: 1.5625rem;
    background: var(--bg-color);
    border: 0.0625rem solid var(--text-color);
    padding: 0.625rem 1.5625rem;
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 1.25rem rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 8.75rem;
}
.contact .contact-form .btn{
    height: 3.125rem;
    padding: 3.125rem;
}
.testimonial-item{
    display: flexbox;
}
.cost{
    font-size: 0.6rem;
}
.box-container .price{
    background-color: var(--second-color);
    overflow: hidden;
}
.ro{
    display: inline-block;
}
@media only screen and (max-width: 991px){
    .logo{
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--bg-color);
    }
    img{
        width: 50%;
    }
    section{
        padding: 1rem 0 1rem;
    }
    .home-title{
        font-size: 2.5rem;
    }
    .home{
        display: inline-flexbox;
    }
    .home-text{
        width: 100%;
    }
    .login{
        font-size: small;
    }
}
